<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Focus Admin: Creative Admin Dashboard</title>
        <!-- ================= Favicon ================== -->
        <!-- Standard -->
        <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
        <!-- Retina iPad Touch Icon-->
        <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
        <!-- Retina iPhone Touch Icon-->
        <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
        <!-- Standard iPad Touch Icon-->
        <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
        <!-- Standard iPhone Touch Icon-->
        <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
        <!-- Styles -->
    <link rel="shortcut icon" href="__PUBLIC__/static/assets/ico/favicon.html">
    <link href="__PUBLIC__/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/static/assets/css/theme.css" rel="stylesheet">
    <link href="__PUBLIC__/static/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/static/assets/css/alertify.css" rel="stylesheet">
    <link href="http://fonts.useso.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="Favicon Icon" href="__PUBLIC__/static/favicon.ico">
    <style type="text/css">
    body,td,th {
	/* [disabled]font-family: "Open Sans", sans-serif; */
	font-size: 12px;
}
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script></script>
    <![endif]-->
    <link href="__PUBLIC__/static/assets/css/colorpicker.css" rel="stylesheet">
    <link href="__PUBLIC__/static/assets/css/datepicker.css" rel="stylesheet">
    <link href="__PUBLIC__/static/assets/css/timepicker.css" rel="stylesheet">
    <link href="__PUBLIC__/static/assets/css/select2.css" rel="stylesheet">
  </head>
  
 
  <body>
 {$year}
       </body>
</html>